/.idea/*.gitignore
/.idea/azure/*.xml
/.idea/*.xml
/target/classes/*.yaml
/target/classes/com/amazon/seller/shipping/*.class
/target/classes/com/amazon/seller/shipping/model/*.class
/target/classes/com/amazon/seller/shipping/service/*.class
/target/classes/com/amazon/seller/shipping/service/helper/*.class
/target/classes/com/amazon/seller/shipping/web/*.class
/target/classes/com/amazon/seller/shipping/web/mapper/*.class
/target/classes/com/amazon/seller/shipping/web/request/*.class
/target/classes/com/amazon/seller/shipping/web/response/*.class
/target/classes/static/*.txt
/target/classes/static/assets/*.png
/target/classes/static/assets/*.html
/target/classes/static/*.ico
/target/classes/static/*.svg
/target/classes/static/*.eot
/target/classes/static/*.woff
/target/classes/static/*.ttf
/target/classes/static/*.woff2
/target/classes/static/*.html
/target/classes/static/*.js
/target/classes/static/*.css
